{% extends 'base.html.twig' %}

 {% block body %}
 <style>
    .row ul li:hover {
        background-color: #343b42 !important
    }
</style>

<div class="row min-vh-100">
    <div class="col-2 bg-secondary p-0">
        <h3 class="p-2 pb-0 text-light">
            Admin Panel
        </h3>
        <ul class="navbar-nav">
            <a class="link-light text-decoration-none bg-dark mb-1" href="{{ path('admin_index') }}">
                <li class="nav-item p-2">
                    Posts Index
                </li>
            </a>
            <a class="link-light text-decoration-none bg-dark mb-1" href="{{ path('admin_post_new') }}">
                <li class="nav-item p-2">
                    New Post
                </li>
            </a>
            <a class="link-light text-decoration-none bg-dark mt-4 mb-1" href="{{ path('admin_contact_index') }}">
                <li class="nav-item p-2">
                    Contacts Index
                </li>
            </a>
            <a class="link-light text-decoration-none bg-dark mt-4 mb-1" href="{{ path('admin_user_index') }}">
                <li class="nav-item p-2">
                    Users Index
                </li>
            </a>
        </ul>
    </div>
    <div class="col-10">
        {% block admin_body %}{% endblock %}
    </div>
</div>
{% endblock %}